.pagebase{
    background-color: black;
}

.pagebase::-webkit-scrollbar{
    width:3%;
    border-radius:50%;
    background-color: grey;
}

.topbar{
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 99%;
    height: 8vh;
    margin: auto;
    background-color: black;
}

.pagetitle{
    float:left;
    color:white;
    font-family: Garamond;
    font-size: 3vw;
    margin: auto;
}

#loginbutton{
    float:right;
    color: white;
    font-size:1vw;
    cursor: pointer;
}
#loginbutton:hover{
    color: lightblue;
    transition: 1.0s;
}

.editorfunction{
  text-align: center;
  float:left;
  width:20%;
  margin: auto;
  height: 95vh;  
}

.contentcontainer{
    width: 60%;
    margin: auto;
    margin-top:5%;
}
.post{
    margin: auto;
    text-align: center;
}
.title{
    color: white;
}
.content{
    color:white;
    text-align: left;
}

#composecontainer{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.composetitle{
    width: 100%;
}
.composetextfield{
    resize:none;
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}

.composebutton{
    float: right;
    margin: auto;
}