.pagebase{
    background-color: black;
    overflow: hidden;
}

.navbar{
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    margin: 0;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.3s;
}

.navbar a:hover {
    background: #ddd;
    color: black;
    transition:0.3s;
}

#content{
    width: 40%;
    margin: auto;
    margin-top: 10%;
    float: left;
}

.leftspacebar{
    width:30%;
    height: 90vh;
    float: left;
    margin:auto;
    transition: 1.0s;
}

.leftspacebar.shrink{
    width:0;
    transition: 1.0s;
}

.sidebar{
    width:0%;
    height: 90vh;
    float: left;
    margin: auto;
    overflow: hidden;
    text-align:left;
    color: white;
}

.menu{
    font-size:2vw;
    font-family: Garamond;
}

.menu:hover{
    color:yellow;
    transition:1.0s;
    cursor:pointer;
}

#profile{
    margin-top:45vh;
}

.profilePicture{
    border-radius: 50%;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    display: block;
    opacity: 0%;
}

#name{
    color: white;
    text-align: center;
    font-size: 3vw;
}
#position{
    font-size: 2vw;
    color: white;
    text-align: center;
    height: 0px;
    overflow: hidden;
}

.rightsidebar{
    width:45%;
    height: 90vh;
    transition: 1.0s;
    float:left;
    color: white;
}

.profilecontainer{
    margin-top:40%;
}

.rightsidebar.shrink{
    width: 0%;
    overflow: hidden;
    transition: 1.0s;
}
.footer{
    color: white;
    position: fixed;
    bottom: 1%;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
    transition: 0.5s;
}
.footer.shrink{
    font-size: 0vw;
    transition: 0.5s;
}
